#BackgroundDiv{
    /* background-image: url('/LoginBanner.png'); */
    background-image: url(https://extuent.ai/bg/myintro-bg-video_clip.jpg);
             background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 10px;
}


@media print {
    .icon-text-wrapper {
      display: flex !important;
      align-items: center !important;
    }
    /* Add more print-specific styles as needed */
  }